<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_YqCcwALZEeWUZYxhcKJK6w" specification="interface Socket:&#xA;    in event connect&#xA;    in event disconnect&#xA;    &#xA;interface ClientConn:&#xA;&#x9;in event request_info&#xA;&#x9;in event onClientState&#xA;&#x9;in event onGetClientStateTimedout&#xA;&#x9;in event onRequestJoin&#xA;&#x9;in event onRequestJoinTimedout&#xA;&#x9;in event onJoinRejected&#xA;&#x9;in event onJoinAccepted&#xA;&#x9;in event onLeave&#xA;&#x9;operation getClientState():integer&#xA;&#x9;operation reportError()&#xA;&#x9;&#xA;interface Session:&#xA;    in event evGetState&#xA;&#x9;in event onGetState&#xA;&#x9;in event evSetVolume&#xA;&#x9;in event evResetStream&#xA;    in event evSyncStream&#xA;&#x9;&#xA;&#x9;in event cmdSent&#xA;&#x9;in event cmdAck&#xA;&#x9;in event cmdError&#xA;&#x9;in event error&#xA;&#x9;&#xA;&#x9;&#xA;&#x9;operation getState(): integer&#xA;&#x9;operation reportError()&#xA;&#x9;&#xA;&#x9;" name="RenderClientConnection">
    <regions xmi:id="_YqyDoALZEeWUZYxhcKJK6w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Yr3owALZEeWUZYxhcKJK6w">
        <outgoingTransitions xmi:id="_YsGSQALZEeWUZYxhcKJK6w" target="_Yr76MALZEeWUZYxhcKJK6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Yr76MALZEeWUZYxhcKJK6w" name="disconnected" incomingTransitions="_YsGSQALZEeWUZYxhcKJK6w _moEHwALiEeWaSaiuBoxKzQ">
        <outgoingTransitions xmi:id="_iSM6wALiEeWaSaiuBoxKzQ" specification="Socket.connect" target="_cq4F4ALiEeWaSaiuBoxKzQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_cq4F4ALiEeWaSaiuBoxKzQ" specification="" name="connected" incomingTransitions="_iSM6wALiEeWaSaiuBoxKzQ">
        <outgoingTransitions xmi:id="_moEHwALiEeWaSaiuBoxKzQ" specification="Socket.disconnect" target="_Yr76MALZEeWUZYxhcKJK6w"/>
        <regions xmi:id="_cq6iIALiEeWaSaiuBoxKzQ" name="connection region">
          <vertices xsi:type="sgraph:State" xmi:id="_gmV14ALiEeWaSaiuBoxKzQ" specification="entry/ClientConn.getClientState()" name="awaitClientState" incomingTransitions="_-A1vkALjEeWaSaiuBoxKzQ">
            <outgoingTransitions xmi:id="_LYHSsALkEeWaSaiuBoxKzQ" specification="ClientConn.onClientState" target="_IMV6QALkEeWaSaiuBoxKzQ"/>
            <outgoingTransitions xmi:id="_QXupgALzEeWaSaiuBoxKzQ" specification="ClientConn.onGetClientStateTimedout" target="_-0qbYALyEeWaSaiuBoxKzQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_736UMALjEeWaSaiuBoxKzQ">
            <outgoingTransitions xmi:id="_-A1vkALjEeWaSaiuBoxKzQ" specification="" target="_gmV14ALiEeWaSaiuBoxKzQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_IMV6QALkEeWaSaiuBoxKzQ" name="knowingClientState" incomingTransitions="_LYHSsALkEeWaSaiuBoxKzQ _ov3rUALuEeWaSaiuBoxKzQ">
            <outgoingTransitions xmi:id="_wtatgALqEeWaSaiuBoxKzQ" specification="ClientConn.onRequestJoin" target="_paYkwALqEeWaSaiuBoxKzQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_paYkwALqEeWaSaiuBoxKzQ" specification="" name="awaitJoinResponse" incomingTransitions="_wtatgALqEeWaSaiuBoxKzQ">
            <outgoingTransitions xmi:id="_KF0Y0ALuEeWaSaiuBoxKzQ" specification="ClientConn.onJoinAccepted" target="_7Pv8cALtEeWaSaiuBoxKzQ"/>
            <outgoingTransitions xmi:id="_hdsr8ALzEeWaSaiuBoxKzQ" specification="ClientConn.onRequestJoinTimedout" target="_-0qbYALyEeWaSaiuBoxKzQ"/>
            <outgoingTransitions xmi:id="_m1tScALzEeWaSaiuBoxKzQ" specification="ClientConn.onJoinRejected" target="_-0qbYALyEeWaSaiuBoxKzQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_7Pv8cALtEeWaSaiuBoxKzQ" specification="" name="joinedSession" incomingTransitions="_KF0Y0ALuEeWaSaiuBoxKzQ">
            <outgoingTransitions xmi:id="_ov3rUALuEeWaSaiuBoxKzQ" specification="ClientConn.onLeave" target="_IMV6QALkEeWaSaiuBoxKzQ"/>
            <regions xmi:id="_XztawAkFEeWi_pG3yE8UxA" name="error handling">
              <vertices xsi:type="sgraph:FinalState" xmi:id="_lfijAALuEeWaSaiuBoxKzQ" incomingTransitions="_Qw6JkAkJEeWi_pG3yE8UxA _ltU5IAkJEeWi_pG3yE8UxA"/>
              <vertices xsi:type="sgraph:Entry" xmi:id="_eGQhcAkGEeWi_pG3yE8UxA">
                <outgoingTransitions xmi:id="_aDlj8AkLEeWi_pG3yE8UxA" specification="" target="_lGW1MAkIEeWi_pG3yE8UxA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_lGW1MAkIEeWi_pG3yE8UxA" name="noError" incomingTransitions="_EnrG4AkJEeWi_pG3yE8UxA _aDlj8AkLEeWi_pG3yE8UxA">
                <outgoingTransitions xmi:id="_EnrG4AkJEeWi_pG3yE8UxA" specification="Session.cmdSent" target="_lGW1MAkIEeWi_pG3yE8UxA"/>
                <outgoingTransitions xmi:id="_Qw6JkAkJEeWi_pG3yE8UxA" specification="Session.cmdTimedOut/Session.reportError()" target="_lfijAALuEeWaSaiuBoxKzQ"/>
                <outgoingTransitions xmi:id="_ltU5IAkJEeWi_pG3yE8UxA" specification="Session.cmdError/Session.reportError()" target="_lfijAALuEeWaSaiuBoxKzQ"/>
              </vertices>
            </regions>
            <regions xmi:id="_7PxKkALtEeWaSaiuBoxKzQ" name="session region">
              <vertices xsi:type="sgraph:Entry" xmi:id="_js3EcALuEeWaSaiuBoxKzQ">
                <outgoingTransitions xmi:id="_M80lsALvEeWaSaiuBoxKzQ" specification="" target="_1e7X4ALuEeWaSaiuBoxKzQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_1e7X4ALuEeWaSaiuBoxKzQ" specification="entry/Session.getState()" name="awaitSessionState" incomingTransitions="_M80lsALvEeWaSaiuBoxKzQ _Leu6wAkIEeWi_pG3yE8UxA">
                <outgoingTransitions xmi:id="_SDSwQALvEeWaSaiuBoxKzQ" specification="Session.onGetState" target="_PLfcsALvEeWaSaiuBoxKzQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_PLfcsALvEeWaSaiuBoxKzQ" specification="Session.evResetStream/Session.cmdResetStream()&#xA;Session.evSyncStream/Session.cmdSyncStream()" name="sessionMember" incomingTransitions="_SDSwQALvEeWaSaiuBoxKzQ">
                <outgoingTransitions xmi:id="_Leu6wAkIEeWi_pG3yE8UxA" specification="Session.getSessionState" target="_1e7X4ALuEeWaSaiuBoxKzQ"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_-0qbYALyEeWaSaiuBoxKzQ" specification="entry/ClientConn.reportError()" name="error" incomingTransitions="_QXupgALzEeWaSaiuBoxKzQ _hdsr8ALzEeWaSaiuBoxKzQ _m1tScALzEeWaSaiuBoxKzQ">
            <outgoingTransitions xmi:id="_rejs4ALzEeWaSaiuBoxKzQ" specification="always" target="_qwee4ALzEeWaSaiuBoxKzQ"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_qwee4ALzEeWaSaiuBoxKzQ" incomingTransitions="_rejs4ALzEeWaSaiuBoxKzQ"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Yqw1gALZEeWUZYxhcKJK6w" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_YqCcwALZEeWUZYxhcKJK6w" measurementUnit="Pixel">
    <children xmi:id="_Yq7NkALZEeWUZYxhcKJK6w" type="Region" element="_YqyDoALZEeWUZYxhcKJK6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_YrzXUALZEeWUZYxhcKJK6w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YrzXUQLZEeWUZYxhcKJK6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YrzXUgLZEeWUZYxhcKJK6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Yr1MgALZEeWUZYxhcKJK6w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Yr4P0ALZEeWUZYxhcKJK6w" type="Entry" element="_Yr3owALZEeWUZYxhcKJK6w">
          <children xmi:id="_Yr5d8ALZEeWUZYxhcKJK6w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Yr6FAALZEeWUZYxhcKJK6w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Yr6FAQLZEeWUZYxhcKJK6w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Yr6FAgLZEeWUZYxhcKJK6w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Yr5d8QLZEeWUZYxhcKJK6w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yr5d8gLZEeWUZYxhcKJK6w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Yr4P0QLZEeWUZYxhcKJK6w" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yr6sEALZEeWUZYxhcKJK6w" x="42" y="41" width="15" height="15"/>
        </children>
        <children xmi:id="_Yr_kkALZEeWUZYxhcKJK6w" type="State" element="_Yr76MALZEeWUZYxhcKJK6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_YsALoALZEeWUZYxhcKJK6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YsALoQLZEeWUZYxhcKJK6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YsALogLZEeWUZYxhcKJK6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YsCA0ALZEeWUZYxhcKJK6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YsCn4ALZEeWUZYxhcKJK6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YsCn4QLZEeWUZYxhcKJK6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YsDO8ALZEeWUZYxhcKJK6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Yr_kkQLZEeWUZYxhcKJK6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Yr_kkgLZEeWUZYxhcKJK6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YsEdEALZEeWUZYxhcKJK6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YsFEIALZEeWUZYxhcKJK6w" y="111" width="104" height="53"/>
        </children>
        <children xmi:id="_cq8-YALiEeWaSaiuBoxKzQ" type="State" element="_cq4F4ALiEeWaSaiuBoxKzQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_cq9lcALiEeWaSaiuBoxKzQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cq9lcQLiEeWaSaiuBoxKzQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_cq-MgALiEeWaSaiuBoxKzQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cq-MgQLiEeWaSaiuBoxKzQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_cq-MggLiEeWaSaiuBoxKzQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cq-MgwLiEeWaSaiuBoxKzQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cq_aoALiEeWaSaiuBoxKzQ" type="StateFigureCompartment">
            <children xmi:id="_crDFAALiEeWaSaiuBoxKzQ" type="Region" element="_cq6iIALiEeWaSaiuBoxKzQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_crDsEgLiEeWaSaiuBoxKzQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_crETIALiEeWaSaiuBoxKzQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_crETIQLiEeWaSaiuBoxKzQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_crETIgLiEeWaSaiuBoxKzQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_gmZgQALiEeWaSaiuBoxKzQ" type="State" element="_gmV14ALiEeWaSaiuBoxKzQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_gmaHUALiEeWaSaiuBoxKzQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gmaHUQLiEeWaSaiuBoxKzQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_gmaHUgLiEeWaSaiuBoxKzQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gmaHUwLiEeWaSaiuBoxKzQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_gmauYALiEeWaSaiuBoxKzQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gmauYQLiEeWaSaiuBoxKzQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gmauYgLiEeWaSaiuBoxKzQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gmZgQQLiEeWaSaiuBoxKzQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_gmZgQgLiEeWaSaiuBoxKzQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gmbVcALiEeWaSaiuBoxKzQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gmZgQwLiEeWaSaiuBoxKzQ" x="23" y="48" width="241" height="53"/>
                </children>
                <children xmi:id="_738JYALjEeWaSaiuBoxKzQ" type="Entry" element="_736UMALjEeWaSaiuBoxKzQ">
                  <children xmi:id="_738wcALjEeWaSaiuBoxKzQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_739XgALjEeWaSaiuBoxKzQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_739XgQLjEeWaSaiuBoxKzQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_739XggLjEeWaSaiuBoxKzQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_738wcQLjEeWaSaiuBoxKzQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_738wcgLjEeWaSaiuBoxKzQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_738JYQLjEeWaSaiuBoxKzQ" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_738JYgLjEeWaSaiuBoxKzQ" x="23" y="8" width="15" height="15"/>
                </children>
                <children xmi:id="_IMYWgALkEeWaSaiuBoxKzQ" type="State" element="_IMV6QALkEeWaSaiuBoxKzQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_IMZkoALkEeWaSaiuBoxKzQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_IMZkoQLkEeWaSaiuBoxKzQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_IMZkogLkEeWaSaiuBoxKzQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_IMaLsALkEeWaSaiuBoxKzQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_IMaLsQLkEeWaSaiuBoxKzQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IMaLsgLkEeWaSaiuBoxKzQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_IMaywALkEeWaSaiuBoxKzQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_IMYWgQLkEeWaSaiuBoxKzQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_IMYWggLkEeWaSaiuBoxKzQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_IMaywQLkEeWaSaiuBoxKzQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IMYWgwLkEeWaSaiuBoxKzQ" x="23" y="143" width="241" height="53"/>
                </children>
                <children xmi:id="_pabBAALqEeWaSaiuBoxKzQ" type="State" element="_paYkwALqEeWaSaiuBoxKzQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_pacPIALqEeWaSaiuBoxKzQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_pacPIQLqEeWaSaiuBoxKzQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_pacPIgLqEeWaSaiuBoxKzQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_pac2MALqEeWaSaiuBoxKzQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_pac2MQLqEeWaSaiuBoxKzQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pac2MgLqEeWaSaiuBoxKzQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_paddQALqEeWaSaiuBoxKzQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_pabBAQLqEeWaSaiuBoxKzQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_pabBAgLqEeWaSaiuBoxKzQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_paddQQLqEeWaSaiuBoxKzQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pabBAwLqEeWaSaiuBoxKzQ" x="23" y="238" width="241" height="53"/>
                </children>
                <children xmi:id="_7PxxoALtEeWaSaiuBoxKzQ" type="State" element="_7Pv8cALtEeWaSaiuBoxKzQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_7PyYsALtEeWaSaiuBoxKzQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_7PyYsQLtEeWaSaiuBoxKzQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_7Py_wALtEeWaSaiuBoxKzQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_7Py_wQLtEeWaSaiuBoxKzQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_7Py_wgLtEeWaSaiuBoxKzQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7Py_wwLtEeWaSaiuBoxKzQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_7Pzm0ALtEeWaSaiuBoxKzQ" type="StateFigureCompartment">
                    <children xmi:id="_FemG0AkUEeWi_pG3yE8UxA" type="Region" element="_7PxKkALtEeWaSaiuBoxKzQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_FemG0QkUEeWi_pG3yE8UxA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG0gkUEeWi_pG3yE8UxA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_FemG0wkUEeWi_pG3yE8UxA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_FemG1AkUEeWi_pG3yE8UxA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_FemG1QkUEeWi_pG3yE8UxA" type="Entry" element="_js3EcALuEeWaSaiuBoxKzQ">
                          <children xmi:id="_FemG1gkUEeWi_pG3yE8UxA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_FemG1wkUEeWi_pG3yE8UxA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG2AkUEeWi_pG3yE8UxA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_FemG2QkUEeWi_pG3yE8UxA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG2gkUEeWi_pG3yE8UxA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG2wkUEeWi_pG3yE8UxA"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG3AkUEeWi_pG3yE8UxA" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG3QkUEeWi_pG3yE8UxA" x="18" y="10"/>
                        </children>
                        <children xmi:id="_FemG3gkUEeWi_pG3yE8UxA" type="State" element="_1e7X4ALuEeWaSaiuBoxKzQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_FemG3wkUEeWi_pG3yE8UxA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG4AkUEeWi_pG3yE8UxA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_FemG4QkUEeWi_pG3yE8UxA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_FemG4gkUEeWi_pG3yE8UxA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_FemG4wkUEeWi_pG3yE8UxA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG5AkUEeWi_pG3yE8UxA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_FemG5QkUEeWi_pG3yE8UxA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG5gkUEeWi_pG3yE8UxA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_FemG5wkUEeWi_pG3yE8UxA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FemG6AkUEeWi_pG3yE8UxA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG6QkUEeWi_pG3yE8UxA" x="78" y="-6"/>
                        </children>
                        <children xmi:id="_FemG6gkUEeWi_pG3yE8UxA" type="State" element="_PLfcsALvEeWaSaiuBoxKzQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_FemG6wkUEeWi_pG3yE8UxA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG7AkUEeWi_pG3yE8UxA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_FemG7QkUEeWi_pG3yE8UxA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_FemG7gkUEeWi_pG3yE8UxA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_FemG7wkUEeWi_pG3yE8UxA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG8AkUEeWi_pG3yE8UxA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_FemG8QkUEeWi_pG3yE8UxA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG8gkUEeWi_pG3yE8UxA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_FemG8wkUEeWi_pG3yE8UxA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FemG9AkUEeWi_pG3yE8UxA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG9QkUEeWi_pG3yE8UxA" x="18" y="135" width="366"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG9gkUEeWi_pG3yE8UxA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_FemG9wkUEeWi_pG3yE8UxA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FemG-AkUEeWi_pG3yE8UxA"/>
                    </children>
                    <children xmi:id="_MuNvMAkUEeWi_pG3yE8UxA" type="Region" element="_XztawAkFEeWi_pG3yE8UxA">
                      <children xsi:type="notation:DecorationNode" xmi:id="_MuNvMQkUEeWi_pG3yE8UxA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_MuNvMgkUEeWi_pG3yE8UxA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_MuNvMwkUEeWi_pG3yE8UxA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_MuNvNAkUEeWi_pG3yE8UxA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xsi:type="notation:Shape" xmi:id="_MuNvNQkUEeWi_pG3yE8UxA" type="FinalState" element="_lfijAALuEeWaSaiuBoxKzQ" fontName="Verdana" lineColor="4210752">
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuNvNgkUEeWi_pG3yE8UxA" x="139" y="339"/>
                        </children>
                        <children xmi:id="_MuNvNwkUEeWi_pG3yE8UxA" type="Entry" element="_eGQhcAkGEeWi_pG3yE8UxA">
                          <children xmi:id="_MuNvOAkUEeWi_pG3yE8UxA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_MuNvOQkUEeWi_pG3yE8UxA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_MuNvOgkUEeWi_pG3yE8UxA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_MuNvOwkUEeWi_pG3yE8UxA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_MuNvPAkUEeWi_pG3yE8UxA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuNvPQkUEeWi_pG3yE8UxA"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_MuNvPgkUEeWi_pG3yE8UxA" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuNvPwkUEeWi_pG3yE8UxA" x="46" y="-7"/>
                        </children>
                        <children xmi:id="_MuNvQAkUEeWi_pG3yE8UxA" type="State" element="_lGW1MAkIEeWi_pG3yE8UxA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_MuNvQQkUEeWi_pG3yE8UxA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_MuNvQgkUEeWi_pG3yE8UxA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_MuNvQwkUEeWi_pG3yE8UxA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_MuNvRAkUEeWi_pG3yE8UxA" type="StateTextCompartment" collapsed="true">
                            <children xsi:type="notation:Shape" xmi:id="_MuNvRQkUEeWi_pG3yE8UxA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuNvRgkUEeWi_pG3yE8UxA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_MuNvRwkUEeWi_pG3yE8UxA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_MuNvSAkUEeWi_pG3yE8UxA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_MuNvSQkUEeWi_pG3yE8UxA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MuNvSgkUEeWi_pG3yE8UxA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuNvSwkUEeWi_pG3yE8UxA" x="20" y="110" width="167"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuNvTAkUEeWi_pG3yE8UxA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_MuNvTQkUEeWi_pG3yE8UxA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuNvTgkUEeWi_pG3yE8UxA"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_7PxxoQLtEeWaSaiuBoxKzQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_7PxxogLtEeWaSaiuBoxKzQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7Pzm0QLtEeWaSaiuBoxKzQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7PxxowLtEeWaSaiuBoxKzQ" x="333" width="741" height="495"/>
                </children>
                <children xmi:id="_-0v68ALyEeWaSaiuBoxKzQ" type="State" element="_-0qbYALyEeWaSaiuBoxKzQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_-0wiAALyEeWaSaiuBoxKzQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-0wiAQLyEeWaSaiuBoxKzQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_-0wiAgLyEeWaSaiuBoxKzQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-0wiAwLyEeWaSaiuBoxKzQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_-0wiBALyEeWaSaiuBoxKzQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-0wiBQLyEeWaSaiuBoxKzQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_-0xJEALyEeWaSaiuBoxKzQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-0v68QLyEeWaSaiuBoxKzQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_-0v68gLyEeWaSaiuBoxKzQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-0xJEQLyEeWaSaiuBoxKzQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-0v68wLyEeWaSaiuBoxKzQ" x="18" y="357" width="220" height="53"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_qwftAALzEeWaSaiuBoxKzQ" type="FinalState" element="_qwee4ALzEeWaSaiuBoxKzQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qwftAQLzEeWaSaiuBoxKzQ" x="273" y="373" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_crETIwLiEeWaSaiuBoxKzQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_crDsEALiEeWaSaiuBoxKzQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_crDsEQLiEeWaSaiuBoxKzQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cq8-YQLiEeWaSaiuBoxKzQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_cq8-YgLiEeWaSaiuBoxKzQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cq_aoQLiEeWaSaiuBoxKzQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cq8-YwLiEeWaSaiuBoxKzQ" x="144" y="33" width="1305" height="593"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yr1zkALZEeWUZYxhcKJK6w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Yq7NkQLZEeWUZYxhcKJK6w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yr2aoALZEeWUZYxhcKJK6w" x="290" y="10" width="1485" height="681"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_YsQDQALZEeWUZYxhcKJK6w" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_YsRRYALZEeWUZYxhcKJK6w" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YsRRYQLZEeWUZYxhcKJK6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YsRRYgLZEeWUZYxhcKJK6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_YsRRYwLZEeWUZYxhcKJK6w" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YsRRZALZEeWUZYxhcKJK6w"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YsSfgALZEeWUZYxhcKJK6w" x="10" y="10" width="261" height="581"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Yqw1gQLZEeWUZYxhcKJK6w"/>
    <edges xmi:id="_YsOOEALZEeWUZYxhcKJK6w" type="Transition" element="_YsGSQALZEeWUZYxhcKJK6w" source="_Yr4P0ALZEeWUZYxhcKJK6w" target="_Yr_kkALZEeWUZYxhcKJK6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_YsPcMALZEeWUZYxhcKJK6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YsPcMQLZEeWUZYxhcKJK6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YsPcMgLZEeWUZYxhcKJK6w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YsOOEQLZEeWUZYxhcKJK6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YsO1IALZEeWUZYxhcKJK6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YsOOEgLZEeWUZYxhcKJK6w" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_iSP-EALiEeWaSaiuBoxKzQ" type="Transition" element="_iSM6wALiEeWaSaiuBoxKzQ" source="_Yr_kkALZEeWUZYxhcKJK6w" target="_cq8-YALiEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_iSQlIQLiEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iSQlIgLiEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iSQlIwLiEeWaSaiuBoxKzQ" x="18" y="-47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iSP-EQLiEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iSQlIALiEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iSP-EgLiEeWaSaiuBoxKzQ" points="[10, 3, -95, -161]$[10, 164, -95, 0]$[105, 164, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iSU2kALiEeWaSaiuBoxKzQ" id="(0.3942307692307692,0.9433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iSU2kQLiEeWaSaiuBoxKzQ" id="(0.0,0.4895591647331787)"/>
    </edges>
    <edges xmi:id="_moHyIALiEeWaSaiuBoxKzQ" type="Transition" element="_moEHwALiEeWaSaiuBoxKzQ" source="_cq8-YALiEeWaSaiuBoxKzQ" target="_Yr_kkALZEeWUZYxhcKJK6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_moJAQALiEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_moJAQQLiEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_moJAQgLiEeWaSaiuBoxKzQ" x="-47" y="62"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_moHyIQLiEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_moIZMALiEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_moHyIgLiEeWaSaiuBoxKzQ" points="[0, 0, 119, 240]$[-119, 0, 0, 240]$[-119, -238, 0, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_moN4wALiEeWaSaiuBoxKzQ" id="(0.0,0.6194895591647331)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h3pQQALjEeWaSaiuBoxKzQ" id="(0.25961538461538464,0.9622641509433962)"/>
    </edges>
    <edges xmi:id="_-A4L0ALjEeWaSaiuBoxKzQ" type="Transition" element="_-A1vkALjEeWaSaiuBoxKzQ" source="_738JYALjEeWaSaiuBoxKzQ" target="_gmZgQALiEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-A4y4ALjEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-A4y4QLjEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-A4y4gLjEeWaSaiuBoxKzQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-A4L0QLjEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-A4L0wLjEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-A4L0gLjEeWaSaiuBoxKzQ" points="[8, 0, 8, 0]$[8, 0, 8, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__FFa0ALjEeWaSaiuBoxKzQ" id="(0.035211267605633804,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_LYKWAALkEeWaSaiuBoxKzQ" type="Transition" element="_LYHSsALkEeWaSaiuBoxKzQ" source="_gmZgQALiEeWaSaiuBoxKzQ" target="_IMYWgALkEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_LYLkIALkEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LYLkIQLkEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LYLkIgLkEeWaSaiuBoxKzQ" x="-3" y="-90"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LYKWAQLkEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LYK9EALkEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LYKWAgLkEeWaSaiuBoxKzQ" points="[11, 9, -94, 3]$[106, 29, 1, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LYQcoALkEeWaSaiuBoxKzQ" id="(0.14522821576763487,0.8679245283018868)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LYQcoQLkEeWaSaiuBoxKzQ" id="(0.14937759336099585,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_wtcisALqEeWaSaiuBoxKzQ" type="Transition" element="_wtatgALqEeWaSaiuBoxKzQ" source="_IMYWgALkEeWaSaiuBoxKzQ" target="_pabBAALqEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_wtdJwALqEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wtdJwQLqEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wtdJwgLqEeWaSaiuBoxKzQ" x="-6" y="-92"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wtcisQLqEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wtciswLqEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wtcisgLqEeWaSaiuBoxKzQ" points="[1, 11, 0, -126]$[1, 161, 0, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wtgNEALqEeWaSaiuBoxKzQ" id="(0.14107883817427386,0.9245283018867925)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BfD-YALuEeWaSaiuBoxKzQ" id="(0.14522821576763487,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_KF21EALuEeWaSaiuBoxKzQ" type="Transition" element="_KF0Y0ALuEeWaSaiuBoxKzQ" source="_pabBAALqEeWaSaiuBoxKzQ" target="_7PxxoALtEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_KF3cIALuEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KF3cIQLuEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KF3cIgLuEeWaSaiuBoxKzQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KF21EQLuEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KF21EwLuEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KF21EgLuEeWaSaiuBoxKzQ" points="[5, -3, -75, 3]$[81, 156, 1, 162]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KF6fcALuEeWaSaiuBoxKzQ" id="(0.979253112033195,0.4339622641509434)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KF6fcQLuEeWaSaiuBoxKzQ" id="(0.0032258064516129032,0.5414141414141415)"/>
    </edges>
    <edges xmi:id="_ov6uoALuEeWaSaiuBoxKzQ" type="Transition" element="_ov3rUALuEeWaSaiuBoxKzQ" source="_7PxxoALtEeWaSaiuBoxKzQ" target="_IMYWgALkEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ov7VsALuEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ov7VsQLuEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ov7VsgLuEeWaSaiuBoxKzQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ov6uoQLuEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ov6uowLuEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ov6uogLuEeWaSaiuBoxKzQ" points="[0, 4, 88, 3]$[-83, -19, 5, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ov-ZAALuEeWaSaiuBoxKzQ" id="(0.001075268817204301,0.3414141414141414)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ov-ZAQLuEeWaSaiuBoxKzQ" id="(0.941908713692946,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_M83pAALvEeWaSaiuBoxKzQ" type="Transition" element="_M80lsALvEeWaSaiuBoxKzQ" source="_FemG1QkUEeWi_pG3yE8UxA" target="_FemG3gkUEeWi_pG3yE8UxA">
      <children xsi:type="notation:DecorationNode" xmi:id="_M84QEQLvEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M84QEgLvEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M843IALvEeWaSaiuBoxKzQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M83pAQLvEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M84QEALvEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M83pAgLvEeWaSaiuBoxKzQ" points="[7, 3, -64, -32]$[73, 33, 2, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M876cALvEeWaSaiuBoxKzQ" id="(0.010810810810810811,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_SDVzkALvEeWaSaiuBoxKzQ" type="Transition" element="_SDSwQALvEeWaSaiuBoxKzQ" source="_FemG3gkUEeWi_pG3yE8UxA" target="_FemG6gkUEeWi_pG3yE8UxA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SDWaoQLvEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SDWaogLvEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SDWaowLvEeWaSaiuBoxKzQ" x="-15" y="-71"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SDVzkQLvEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SDWaoALvEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SDVzkgLvEeWaSaiuBoxKzQ" points="[2, 10, -14, -70]$[19, 70, 3, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SDasEALvEeWaSaiuBoxKzQ" id="(0.12972972972972974,0.9622641509433962)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SDbTIALvEeWaSaiuBoxKzQ" id="(0.22404371584699453,0.028985507246376812)"/>
    </edges>
    <edges xmi:id="_QXy68ALzEeWaSaiuBoxKzQ" type="Transition" element="_QXupgALzEeWaSaiuBoxKzQ" source="_gmZgQALiEeWaSaiuBoxKzQ" target="_-0v68ALyEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_QXy69ALzEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QXy69QLzEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QXy69gLzEeWaSaiuBoxKzQ" x="-1" y="-122"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QXy68QLzEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QXy68wLzEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QXy68gLzEeWaSaiuBoxKzQ" points="[-2, 0, -24, -317]$[-29, 0, -51, -317]$[-29, 317, -51, 0]$[-7, 317, -29, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QX1-QALzEeWaSaiuBoxKzQ" id="(0.012448132780082987,0.4339622641509434)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QX1-QQLzEeWaSaiuBoxKzQ" id="(0.1375,0.5849056603773585)"/>
    </edges>
    <edges xmi:id="_hdvvQALzEeWaSaiuBoxKzQ" type="Transition" element="_hdsr8ALzEeWaSaiuBoxKzQ" source="_pabBAALqEeWaSaiuBoxKzQ" target="_-0v68ALyEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_hdwWUALzEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hdwWUQLzEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hdwWUgLzEeWaSaiuBoxKzQ" x="9" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hdvvQQLzEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hdvvQwLzEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hdvvQgLzEeWaSaiuBoxKzQ" points="[-3, 9, 1, -80]$[-3, 80, 1, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hd0nwALzEeWaSaiuBoxKzQ" id="(0.1908713692946058,0.9433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hd0nwQLzEeWaSaiuBoxKzQ" id="(0.22727272727272727,0.0)"/>
    </edges>
    <edges xmi:id="_m1vusALzEeWaSaiuBoxKzQ" type="Transition" element="_m1tScALzEeWaSaiuBoxKzQ" source="_pabBAALqEeWaSaiuBoxKzQ" target="_-0v68ALyEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_m1w80ALzEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_m1w80QLzEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_m1w80gLzEeWaSaiuBoxKzQ" x="-21" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_m1vusQLzEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_m1wVwALzEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_m1vusgLzEeWaSaiuBoxKzQ" points="[9, 24, 4, -79]$[9, 95, 4, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_m11OQALzEeWaSaiuBoxKzQ" id="(0.63125,0.16981132075471697)"/>
    </edges>
    <edges xmi:id="_remJIALzEeWaSaiuBoxKzQ" type="Transition" element="_rejs4ALzEeWaSaiuBoxKzQ" source="_-0v68ALyEeWaSaiuBoxKzQ" target="_qwftAALzEeWaSaiuBoxKzQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_remwMQLzEeWaSaiuBoxKzQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_remwMgLzEeWaSaiuBoxKzQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_renXQALzEeWaSaiuBoxKzQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_remJIQLzEeWaSaiuBoxKzQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_remwMALzEeWaSaiuBoxKzQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_remJIgLzEeWaSaiuBoxKzQ" points="[9, 3, -49, -1]$[53, -1, -5, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rerosALzEeWaSaiuBoxKzQ" id="(0.94375,0.4716981132075472)"/>
    </edges>
    <edges xmi:id="_Le3doAkIEeWi_pG3yE8UxA" type="Transition" element="_Leu6wAkIEeWi_pG3yE8UxA" source="_FemG6gkUEeWi_pG3yE8UxA" target="_FemG3gkUEeWi_pG3yE8UxA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Le5S0AkIEeWi_pG3yE8UxA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Le5S0QkIEeWi_pG3yE8UxA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Le5S0gkIEeWi_pG3yE8UxA" x="-16" y="85"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Le4EsAkIEeWi_pG3yE8UxA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Le4rwAkIEeWi_pG3yE8UxA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Le4EsQkIEeWi_pG3yE8UxA" points="[2, -5, 0, 108]$[2, -103, 0, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Le89MAkIEeWi_pG3yE8UxA" id="(0.5519125683060109,0.014492753623188406)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Le9kQAkIEeWi_pG3yE8UxA" id="(0.745945945945946,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_Ens8EAkJEeWi_pG3yE8UxA" type="Transition" element="_EnrG4AkJEeWi_pG3yE8UxA" source="_MuNvQAkUEeWi_pG3yE8UxA" target="_MuNvQAkUEeWi_pG3yE8UxA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EntjIAkJEeWi_pG3yE8UxA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EntjIQkJEeWi_pG3yE8UxA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EntjIgkJEeWi_pG3yE8UxA" x="2" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ens8EQkJEeWi_pG3yE8UxA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ens8EwkJEeWi_pG3yE8UxA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ens8EgkJEeWi_pG3yE8UxA" points="[10, -3, -38, -6]$[10, -32, -38, -35]$[48, -32, 0, -35]$[48, -3, 0, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Env_YAkJEeWi_pG3yE8UxA" id="(0.6167664670658682,0.07547169811320754)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Env_YQkJEeWi_pG3yE8UxA" id="(0.9101796407185628,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_Qw7-wAkJEeWi_pG3yE8UxA" type="Transition" element="_Qw6JkAkJEeWi_pG3yE8UxA" source="_MuNvQAkUEeWi_pG3yE8UxA" target="_MuNvNQkUEeWi_pG3yE8UxA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Qw7-xAkJEeWi_pG3yE8UxA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Qw7-xQkJEeWi_pG3yE8UxA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Qw7-xgkJEeWi_pG3yE8UxA" x="-25" y="-87"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Qw7-wQkJEeWi_pG3yE8UxA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Qw7-wwkJEeWi_pG3yE8UxA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Qw7-wgkJEeWi_pG3yE8UxA" points="[2, 6, -85, -184]$[91, 184, 4, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Qw9z8AkJEeWi_pG3yE8UxA" id="(0.8143712574850299,0.8867924528301887)"/>
    </edges>
    <edges xmi:id="_ltWHQAkJEeWi_pG3yE8UxA" type="Transition" element="_ltU5IAkJEeWi_pG3yE8UxA" source="_MuNvQAkUEeWi_pG3yE8UxA" target="_MuNvNQkUEeWi_pG3yE8UxA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ltWuUAkJEeWi_pG3yE8UxA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ltWuUQkJEeWi_pG3yE8UxA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ltWuUgkJEeWi_pG3yE8UxA" x="1" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ltWHQQkJEeWi_pG3yE8UxA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ltWHQwkJEeWi_pG3yE8UxA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ltWHQgkJEeWi_pG3yE8UxA" points="[6, 8, -107, -188]$[6, 196, -107, 0]$[105, 196, -8, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ltYjgAkJEeWi_pG3yE8UxA" id="(0.08383233532934131,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_aDmyEAkLEeWi_pG3yE8UxA" type="Transition" element="_aDlj8AkLEeWi_pG3yE8UxA" source="_MuNvNwkUEeWi_pG3yE8UxA" target="_MuNvQAkUEeWi_pG3yE8UxA">
      <children xsi:type="notation:DecorationNode" xmi:id="_aDnZIgkLEeWi_pG3yE8UxA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aDnZIwkLEeWi_pG3yE8UxA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aDnZJAkLEeWi_pG3yE8UxA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aDmyEQkLEeWi_pG3yE8UxA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aDnZIQkLEeWi_pG3yE8UxA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aDnZIAkLEeWi_pG3yE8UxA" points="[-4, 6, 68, -111]$[-70, 111, 2, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aDp1YAkLEeWi_pG3yE8UxA" id="(0.25748502994011974,0.1320754716981132)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
