[Unit]
Description=multi room audio render client
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/muroad -f -c /etc/muroad.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=muroad.service
