[submodule "resamplertest/tools/pywavefile"]
	path = resamplertest/tools/pywavefile
	url = https://github.com/vokimon/python-wavefile.git
[submodule "libmstream/examples/webradio_with_html_gui/www/ng-websocket"]
	path = libmstream/examples/webradio_with_html_gui/www/ng-websocket
	url = git@github.com:wilk/ng-websocket.git
