<md-dialog aria-label="Room">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{mclient.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <p>Hostname: {{mclient.hostname}}</p>
      <p>Zone: {{mclient.ownersession}}</p>
      <p>Member of this zone: {{mclient.member}}</p>
      <p>Volume: {{mclient.volume}}</>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer('done')">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
